{% extends 'base.html.twig' %}

{% block title %}Nouvelle adoption{% endblock %}

{% block body %}
    <h1>Créer une nouvelle adoption</h1>

    {{ include('adoption/_form.html.twig') }}

    <a href="{{ path('app_adoption_index') }}">Retour à la liste</a>
{% endblock %}
