{% extends 'base.html.twig' %}

{% block title %}Modifier le refuge{% endblock %}

{% block body %}
    <h1>Modifier le refuge</h1>

    {{ include('shelter/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_shelter_index') }}">Retour à la liste</a>

    {{ include('shelter/_delete_form.html.twig') }}
{% endblock %}
