{% extends 'base.html.twig' %}

{% block title %}New Shelter{% endblock %}

{% block body %}
    <h1>Create new Shelter</h1>

    {{ include('shelter/_form.html.twig') }}

    <a href="{{ path('app_shelter_index') }}">back to list</a>
{% endblock %}
