{% extends 'base.html.twig' %}

{% block title %}Nouveau refuge{% endblock %}

{% block body %}
    <h1>Créer un nouveau refuge</h1>

    {{ include('shelter/_form.html.twig') }}

    <a href="{{ path('app_shelter_index') }}">Retour à la liste</a>
{% endblock %}
