{% extends 'base.html.twig' %}

{% block title %}Modifier l'animal{% endblock %}

{% block body %}
    <h1>Modifier l'animal</h1>

    {{ include('animal/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_animal_index') }}">Retour à la liste</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
