{% extends 'base.html.twig' %}

{% block title %}Modifier l'adoptant{% endblock %}

{% block body %}
    <h1>Modifier l'adoptant</h1>

    {{ include('adopter/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_adopter_index') }}">Retour à la liste</a>

    {{ include('adopter/_delete_form.html.twig') }}
{% endblock %}
