{% extends 'base.html.twig' %}

{% block title %}Nouvel adoptant{% endblock %}

{% block body %}
    <h1>Créer un nouvel adoptant</h1>

    {{ include('adopter/_form.html.twig') }}

    <a href="{{ path('app_adopter_index') }}">Retour à la liste</a>
{% endblock %}
