{% extends 'base.html.twig' %}

{% block title %}Nouveau soignant{% endblock %}

{% block body %}
    <h1>Créer un nouveau soignant</h1>

    {{ include('caretaker/_form.html.twig') }}

    <a href="{{ path('app_caretaker_index') }}">Retour à la liste</a>
{% endblock %}
