{% extends 'base.html.twig' %}

{% block title %}New Species
{% endblock %}

{% block body %}
	<h1>Ajouter une nouvelle espèce</h1>

	{{ include('species/_form.html.twig') }}

	<a href="{{ path('app_species_index') }}">Retour à la liste</a>
{% endblock %}
