<header>
	<nav>
		<ul>
			<li><a href="/animal">Animaux</a></li>
			<li><a href="/shelter">Refuge</a></li>
			<li><a href="/caretaker">Soignant</a></li>
			<li><a href="/species">Espèce</a></li>
			<li><a href="/adopter">Adoptants</a></li>
			<li><a href="/adoption">Adoptions</a></li>
		</ul>
	</nav>
</header>
